body {
    display: flex;
    justify-content: center;
    color: @textFont;
    // background-color:rgb(252, 244, 183);
    background: linear-gradient(to right, rgb(252, 244, 183), rgb(248, 235, 139));
    cursor: default;
}
#body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 80%;
    // display: flex;
    // justify-content: center;
    background: @bg-color;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    @media (max-width: 700px) {
        width: 100%;
    }
}

.primaryButton {
    border-radius: .3125rem;
    padding: .4375rem;
    background-color: @mainColor;
    border: .0625rem solid @mainColor;
    color: black;
    font-weight: bold;
    cursor: pointer;
    user-select: none;

    &:hover {

        border: .0625rem solid @mainColor;
        box-shadow: 0rem 0rem .625rem black;
    }
}

.secondaryButton {
    border-radius: .3125rem;
    padding: .4375rem;
    background-color: gray;
    color: white;
    cursor: pointer;
    user-select: none;
    border: .0625rem solid white;

    &:hover {
        background-color: white;
        color: gray;
        border: .0625rem solid gray;
        box-shadow: 0rem 0rem .625rem gray;
    }
}

.tertiaryButton {
    border-radius: .3125rem;
    border: .0625rem solid @mainColor;
    padding: .4375rem;
    background-color: rgb(255, 255, 255);
    color: @mainColor;
    cursor: pointer;
    user-select: none;
}