@media (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 950px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 4px;
  }
}
body {
  display: flex;
  justify-content: center;
  color: #3b4754;
  background: linear-gradient(to right, #fcf4b7, #f8eb8b);
  cursor: default;
}
#body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 80%;
  background: #dae4e9;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.primaryButton {
  border-radius: 0.3125rem;
  padding: 0.4375rem;
  background-color: #ffd000;
  border: 0.0625rem solid #ffd000;
  color: black;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
.primaryButton:hover {
  border: 0.0625rem solid #ffd000;
  box-shadow: 0rem 0rem 0.625rem black;
}
.secondaryButton {
  border-radius: 0.3125rem;
  padding: 0.4375rem;
  background-color: gray;
  color: white;
  cursor: pointer;
  user-select: none;
  border: 0.0625rem solid white;
}
.secondaryButton:hover {
  background-color: white;
  color: gray;
  border: 0.0625rem solid gray;
  box-shadow: 0rem 0rem 0.625rem gray;
}
.tertiaryButton {
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ffd000;
  padding: 0.4375rem;
  background-color: #ffffff;
  color: #ffd000;
  cursor: pointer;
  user-select: none;
}
nav {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0.1875rem 0.375rem #d6d6d6;
}
.navButton {
  border-radius: 0.3125rem;
  padding: 0.4375rem;
  justify-self: flex-end;
  background-color: gray;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.navButton:hover {
  background-color: #ffd000;
}
#butonActiv {
  background-color: #ffd000;
  color: black;
  font-weight: bold;
}
#mainBanner {
  width: 100%;
  margin: 0;
  padding: 0;
}
#bannerDiv {
  background: white;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/resina-epoxica-transparente-banner.jpg);
}
#bannerDiv h2 {
  font-size: 2rem;
  text-shadow: 0.1875rem 0.1875rem 0.3125rem black;
  position: relative;
  bottom: 0.625rem;
  color: #ffd000;
}
#bannerDiv p {
  width: 70%;
  text-align: center;
  margin: 0;
  text-shadow: 0.125rem 0.125rem 0.3125rem black;
  color: #ffd000;
  font-size: 1.3rem;
  position: relative;
  bottom: 1.25rem;
}
#cardsDiv {
  background: white;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: space-evenly;
}
.card {
  width: 16rem;
  height: 10rem;
  background-color: #ffffff;
  border: 0.125rem solid #cdcdcf;
  border-radius: 0.5rem;
  position: relative;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem #e4e3e3 inset, 0.3125rem 0.3125rem 0.625rem gray;
}
.card h3 {
  margin: 0;
}
.card p {
  padding: 0;
  margin: 0;
  text-align: center;
}
.card a {
  text-decoration: none;
}
.section {
  width: 100%;
  height: 30rem;
  margin-top: 1.25rem;
  display: flex;
  background-color: white;
}
.section .paragraph {
  width: 60%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section .paragraph h2 {
  padding-left: 1.25rem;
}
.section .paragraph p {
  width: 80%;
  text-align: center;
  align-self: center;
}
.section .paragraph a {
  width: 40%;
  text-align: center;
  align-self: flex-end;
  margin-top: 2.5rem;
  position: relative;
  right: 2.5rem;
  text-decoration: none;
}
.section .img-container {
  display: flex;
  width: 70%;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
}
.section .img-container img {
  width: auto;
  height: 80%;
  border-radius: 3rem;
  border: 0.125rem solid rgba(228, 228, 228, 0.993);
  box-shadow: 0.3125rem 0.3125rem 0.625rem #d6d6d6;
}
#galery {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#galery .rowImg {
  display: flex;
  width: 90%;
  height: 25%;
  border: 0.0625rem solid black;
  justify-content: space-evenly;
  align-items: center;
}
#galery .rowImg .galeryImgContainer {
  width: 6rem;
  height: 6rem;
  border: 0.0625rem solid black;
  border-radius: 0.3125rem;
}
#galery .rowImg .galeryImgContainer:hover {
  position: relative;
  transform: scale(2.5);
}
#academy .img-container img {
  width: 80%;
}
#store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#store #storeTitle {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#store #storeTitle h2 {
  position: relative;
  right: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  background-color: #ffd000;
  color: black;
  box-shadow: 0.3125rem 0.3125rem 0.625rem #d6d6d6;
}
#store #storeTitle span {
  font-size: 1.2rem;
}
#store #itemsContainer {
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#store #itemsContainer .card {
  width: 10rem;
  height: 12rem;
  bottom: 0;
}
#store #itemsContainer .card .itemTitle {
  width: 90%;
  height: 1.3rem;
}
#store #itemsContainer .card .itemImg {
  border-radius: 0.5rem;
  width: 90%;
  height: 5rem;
  display: flex;
  justify-content: center;
}
#store #itemsContainer .card .itemImg img {
  object-fit: cover;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem #d6d6d6;
}
#store #itemsContainer .card .itemDescription {
  width: 90%;
  height: 3rem;
  display: flex;
  align-items: center;
}
#store #storeButtonContainer {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#store #storeButtonContainer span {
  font-size: 1rem;
}
#store #storeButtonContainer span a {
  margin: 2rem;
  text-decoration: none;
}
#store #storeButtonContainer img {
  margin-left: 1rem;
  margin-right: 0.2rem;
  width: 2rem;
  height: 2rem;
}
#store #storeButtonContainer #number {
  font-weight: bold;
  color: #ffd000;
  text-shadow: -0.0625rem 0 black, 0 0.0625rem black, 0.0625rem 0 black, 0 -0.0625rem black, 0.3125rem 0.3125rem 0.625rem black;
  margin-right: 2rem;
}
#aboutUs .img-container img {
  width: 80%;
}
#contact {
  background-color: #d6d6d6;
  width: 100%;
  height: 30rem;
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#contact .contactDiv {
  font-size: 1.2rem;
  width: 40%;
  height: 80%;
}
#contact .contactDiv p {
  text-align: center;
}
#contact #contactDivisor {
  width: 10px;
  height: 60%;
}
#contact #contactDivisor hr {
  height: 100%;
  width: 2px;
  border-width: 0;
  background-color: #e7e7e7;
}
#contact #contactData {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact #contactData span {
  margin: 10px;
}
#contact #contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#contact #contactForm textarea {
  padding: 2rem;
  resize: none;
}
footer {
  background-color: black;
  width: 100%;
  height: 6rem;
  margin-top: 1.25rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
